[package]
name = "cjms"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
config = { version = "0.12", default-features = false, features = ["yaml"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.5.11", features = ["offline", "postgres", "runtime-actix-rustls", "time", "uuid"] }
# time must be 0.2 for sqlx support
time = { version = "0.2.27", features = ["serde"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
# uuid must be 0.8 for sqlx support
uuid = { version = "0.8", features = ["v4", "serde"] }

[dev-dependencies]
fake = "2.4.3"
mockall = "0.11.0"
reqwest = { version = "0.11.9", features = ["json"] }
serial_test = "0.6.0"
tempfile = "3.3.0"

[profile.dev.package.sqlx-macros]
# improve compile time macro checking
opt-level = 3
