aic_expiration_days: 2
authentication: authpass
cj_cid: cj_cid
cj_signature: cj_signature
cj_subid: cj_subid
cj_type: cj_type
database_url: "postgres://db_user:db_password@localhost:5432/cjms"
environment: local
gcp_project: proj
host: 127.0.0.1
log_level: info
port: 8000
