host: 127.0.0.1
port: 8000
database_url: "postgres://db_user:db_password@localhost:5432/cjms"
environment: local
log_level: info
gcp_project: proj
cj_cid: cj_cid
cj_type: cj_type
cj_signature: cj_signature
sentry_dsn: somevalue
